@charset "UTF-8";

.nav {
    background-color: #FFFFFF;
    box-shadow: inset 0 4px 6px rgba( 0, 0, 0, 0.08);
}

.nav ul {
    display: flex;
    height: 48px;
    width: 900px;
    margin: auto;
    padding-top: 11px;
    justify-content: space-between;

}

.nav span {
    font-size: 1.2rem;

}

@media screen and (max-width: 1024px) {

    .nav {
        position: absolute;
        width: 115px;
        height: 280px;
        background-color: unset;
        margin-left: 20px;
        margin-top: 0;
        z-index: 100;
        display: none;
    }

    .nav ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    .nav ul li {
        height: 40px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        padding-top: 9px;
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom: 1px solid rgba(53,53,53, 0.2);
    }

    .nav ul li:last-child {
        border-bottom-left-radius: 4px;   
        border-bottom-right-radius: 8px;   
    }
}